#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container{
  display:flex;
 justify-content: center;
  flex-wrap: wrap;

  margin: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border: 1px solid white;
  width:200px
}

.card-img{
  width: 100px;
  height: 100px;
}

.read-the-docs {
  color: #888;
}
